<html data-ng-app="wallapp">
<head>
    <title>Wall App</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/nwac.js"></script>
</head>
<body data-ng-controller="WallApp">
<h1>Gerenciamento de contas</h1>
<fieldset class="row-fluid">
    <legend>New account</legend>
    <input type="text" placeholder="Login" data-ng-model="account.login"/><br/>
    <input type="password" placeholder="Password" data-ng-model="account.pass"/><br/>
    <input type="text" placeholder="Full name" data-ng-model="account.fullname"/><br/>
    <button data-ng-click="newacc()">Send</button>
</fieldset>
<fieldset class="row-fluid">
    <legend>Alterar a sua senha</legend>
    <input type="password" placeholder="Senha antiga" data-ng-model="formChangePass.passOld"/><br/>
    <input type="password" placeholder="Nova senha" data-ng-model="formChangePass.passNew"/><br/>
    <button data-ng-click="changePass()">Send</button>
</fieldset>
</body>
</html>
